# Build output
x64/
Debug/
Release/

# Visual Studio files
*.vcxproj.user
*.suo
*.VC.db
*.opendb

# Object and binary files
*.obj
*.exe
*.pdb
*.ilk
*.log

# Ignore user-specific settings
*.user
.vscode/
.vs/

